.projects-section {
  background-color: #1f1f1f;
  color: white;
  padding: 30px 15px;
}

.project-title {
  opacity: 0;
  transform: translateY(-100px);
  filter: blur(5px);
  transition: all 1s ease;
}

.animate-title {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.projects {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 70%;
  margin-top: 50px;
  position: relative;
  opacity: 0;
  transform: translateX(-75px);
  transition: all 1s ease;
}

.animate-project {
  opacity: 1;
  transform: translateX(0);
}

.project img {
  width: 100%;
  border-radius: 15px;
}

.project-wrapper-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #545353;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.8s ease;
  position: absolute; /* add position absolute to the background */
  top: 0; /* set the top to 0 so it appears over the image */
  left: 0; /* set the left to 0 so it appears over the image */
  z-index: 1; /* set a higher z-index than the image */
}

.project-wrapper-bg:hover {
  opacity: 1;
}

.project-desc-holder {
  width: 90%;
}

.image-container {
  display: flex;
}

.image-container a {
  margin: 3px 10px;
}

@media (max-width: 900px) {
  .project-desc {
    display: none;
  }
}

@media (max-width: 600px) {
  .project {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .project-card-title {
    margin: 0;
  }

  .project-languages {
    margin: 0;
  }
}

@media (max-width: 350px) {
  .project-languages {
    display: none;
  }
}
