.about {
  max-width: 100vw;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  padding: 50px 75px;
}

.about img {
  width: 35%;
}

.about-text {
  width: 50%;
  text-align: left;
  color: white;
}
