.about {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 50px 65px;
}

.about-img {
  width: 42%;
  opacity: 0;
  transform: translateX(50px);
  filter: blur(0);
  transition: all 1s ease;
}

.animate-image {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.about-text {
  width: 50%;
  text-align: left;
  color: #545353;
  opacity: 0;
  transform: translateX(-50px);
  filter: blur(5px);
  transition: all 1s ease;
}

.animate-text {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

@media (max-width: 800px) {
  .about {
    padding: 50px;
    flex-direction: column;
  }

  .about img {
    width: 100%;
    margin: auto;
  }

  .about-text {
    width: 100%;
    margin: 0 auto 25px;
    text-align: center;
  }
}
