nav {
  padding: 15px 50px;
  background-color: #1f1f1f;
  color: white;
  font-size: 22px;
}

.full-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav li {
  list-style: none;
  cursor: pointer;
}

nav button {
  background-color: #2b6be7;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 7px;
  transition: background-color 0.3s ease-in;
}

nav button:hover {
  background-color: #1145ad;
}

.page-links {
  display: flex;
  align-items: center;
}

.page-links li {
  margin-left: 25px;
}

.page-links img {
  display: none;
}

.dropdown {
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in;
}

.dropdown.open {
  max-height: 350px;
}

.dropdown li {
  margin-top: 35px;
}

@media (max-width: 850px) {
  nav {
    padding: 10px 25px;
  }

  .page-links li {
    display: none;
  }

  .page-links img {
    display: block;
  }
}
